src/Esendex.Voice.Sdk/Esendex.Voice.Sdk/Connected Services/Esendex.VoiceService/CollstreamVoiceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Collstream.Services.Application.VoiceMessaging.PublicApi.Validation.ValidationErrors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Collstream.Services.Application.VoiceMessaging.PublicApi.Validation.ValidationErrors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAbstractCampaignSettingValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbstractCampaignSettingValidationError" nillable="true" type="tns:AbstractCampaignSettingValidationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbstractCampaignSettingValidationError" nillable="true" type="tns:ArrayOfAbstractCampaignSettingValidationError" />
  <xs:complexType name="AbstractCampaignSettingValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="SettingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractCampaignSettingValidationError" nillable="true" type="tns:AbstractCampaignSettingValidationError" />
</xs:schema>